In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [42]:
hs300 = pd.read_csv("data/price/399300.csv")
hs300

             日期     股票代码     名称        收盘价        前收盘   涨跌幅(%)
0     2022/3/30  '399300  沪深300  4254.0989  4134.1441   2.9016
1     2022/3/29  '399300  沪深300  4134.1441  4148.4663  -0.3452
2     2022/3/28  '399300  沪深300  4148.4663  4174.5742  -0.6254
3     2022/3/25  '399300  沪深300  4174.5742  4251.3061  -1.8049
4     2022/3/24  '399300  沪深300  4251.3061  4276.5174  -0.5895
...         ...      ...    ...        ...        ...      ...
4905  2002/1/10  '399300  沪深300  1281.2600    1272.65   0.6765
4906   2002/1/9  '399300  沪深300  1272.6500    1292.71  -1.5518
4907   2002/1/8  '399300  沪深300  1292.7100    1302.08  -0.7196
4908   2002/1/7  '399300  沪深300  1302.0800    1316.46  -1.0923
4909   2002/1/4  '399300  沪深300  1316.4600       None     None

[4910 rows x 6 columns]

In [43]:
type(hs300['日期'][0])

str

In [44]:
def date_format(s):
    
    s_list = s.split("/")
    
    year = s_list[0]
    month = int(s_list[1])
    day = int(s_list[2])
    
    if(month<10):
        month = "0"+str(month)
    else:
        month = str(month)
    
    if(day<10):
        day = "0"+str(day)
    else:
        day = str(day)

    s0 = year+month+day
    
    return s0

In [45]:
date_format(hs300['日期'][1837])

'20140910'

In [46]:
hs300_dict = {}

for i in range(2000):
    
    date = date_format(hs300['日期'][i])
    return_rate = float(hs300['涨跌幅(%)'][i])
    
    hs300_dict[date] = return_rate

In [47]:
hs300_dict['20220324']

-0.5895

In [89]:
stock = pd.read_csv("data/price/pct_chg.csv")
stock['positive'] = 0.0
stock['max_abr'] = 0.0
stock['min_abr'] = 0.0
stock

,trade_date,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000027.SZ,000039.SZ,000046.SZ,000060.SZ,000061.SZ,...,688126.SH,688169.SH,688363.SH,688396.SH,688561.SH,688599.SH,688981.SH,positive,max_abr,min_abr
0,20220110,-0.0581,1.2334,-0.3497,0.7902,0.3764,0.1743,-0.9756,0.2024,1.2403,...,0.2363,4.9179,1.5058,1.0777,1.1125,-3.8542,0.0946,0.0,0.0,0.0
1,20220107,0.4673,3.9905,-4.0268,-1.6949,0.1256,0.8202,2.5000,0.6110,-1.8265,...,-0.0394,2.4553,-2.6853,-0.1305,-0.5937,-3.0303,0.0568,0.0,0.0,0.0
2,20220106,-0.1749,-0.5668,4.5614,2.6087,0.2519,0.7674,2.5641,0.2041,-0.1520,...,0.2368,1.5627,-3.6284,0.5246,-2.0078,3.6959,-0.1513,0.0,0.0,0.0
3,20220105,2.9412,3.3187,-3.3898,-1.4286,-2.0962,-1.4543,1.0363,-1.4085,-0.1517,...,-0.5885,6.7094,-1.7068,-3.3740,-0.7136,-7.4120,-0.4893,0.0,0.0,0.0
4,20220104,1.0922,3.6943,0.3401,-2.9799,0.1235,0.1748,2.6596,1.2220,3.1299,...,-1.2781,-6.0271,-3.0457,-2.2755,0.4208,-8.5171,0.2831,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,20151225,0.5674,NaN,1.1837,-0.5302,0.3927,1.7527,4.6225,0.0682,-2.4363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1471,20151224,-1.1221,NaN,-2.7958,5.2450,-2.7720,0.3154,-3.4454,0.4719,-0.9056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1472,20151223,0.4031,NaN,-2.4856,-2.2898,1.8490,3.0667,-1.2370,-4.2021,-2.0688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1473,20151222,-0.6398,NaN,-1.8886,0.3832,0.1955,1.2231,0.0767,-0.3219,1.9079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1474,20151221,2.2891,NaN,0.6333,1.6127,1.5861,3.5058,3.7755,2.3747,5.2849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [90]:
stock['000002.SZ'][1471]

nan

In [91]:
import math

math.isnan(stock['000002.SZ'][1471])

True

In [92]:
math.isnan(stock['000002.SZ'][0])

False

In [93]:
stock_name = stock.columns.values.tolist()
stock_name = stock_name[1:-3]
len(stock_name)

556

In [94]:
stock_name[-10:]

['688012.SH',
 '688036.SH',
 '688111.SH',
 '688126.SH',
 '688169.SH',
 '688363.SH',
 '688396.SH',
 '688561.SH',
 '688599.SH',
 '688981.SH']

In [95]:
import math

def calculate_ab_return(stock):
    
    stock_name = stock.columns.values.tolist()
    stock_name = stock_name[1:-3]
    
    for i in range(len(stock)):
        
        date = str(stock.trade_date[i])
        index_rate = hs300_dict[date]
        
        all_stock = 0
        positive_stock = 0
        abr_list = []
        
        for s in stock_name:
            
            if(math.isnan(stock[s][i])==False):
                
                all_stock = all_stock+1
                
                stock[s][i] = float(stock[s][i]) - index_rate
                abr_list.append(stock[s][i])
                
                if(stock[s][i]>0):
                    positive_stock = positive_stock+1
        
        stock["positive"][i] = float(positive_stock/all_stock)
        stock["max_abr"][i] = float(max(abr_list))
        stock["min_abr"][i] = float(min(abr_list))

    return stock

stock_ab_return = calculate_ab_return(stock)
stock_ab_return

,trade_date,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000027.SZ,000039.SZ,000046.SZ,000060.SZ,000061.SZ,...,688126.SH,688169.SH,688363.SH,688396.SH,688561.SH,688599.SH,688981.SH,positive,max_abr,min_abr
0,20220110,-0.5076,0.7839,-0.7992,0.3407,-0.0731,-0.2752,-1.4251,-0.2471,0.7908,...,-0.2132,4.4684,1.0563,0.6282,0.6630,-4.3037,-0.3549,0.437158,10.0594,-10.4288
1,20220107,0.3814,3.9046,-4.1127,-1.7808,0.0397,0.7343,2.4141,0.5251,-1.9124,...,-0.1253,2.3694,-2.7712,-0.2164,-0.6796,-3.1162,-0.0291,0.424408,9.9964,-10.0906
2,20220106,0.8499,0.4580,5.5862,3.6335,1.2767,1.7922,3.5889,1.2289,0.8728,...,1.2616,2.5875,-2.6036,1.5494,-0.9830,4.7207,0.8735,0.670310,11.0248,-6.7814
3,20220105,3.9507,4.3282,-2.3803,-0.4191,-1.0867,-0.4448,2.0458,-0.3990,0.8578,...,0.4210,7.7189,-0.6973,-2.3645,0.2959,-6.4025,0.5202,0.555556,11.1262,-8.9871
4,20220104,1.5498,4.1519,0.7977,-2.5223,0.5811,0.6324,3.1172,1.6796,3.5875,...,-0.8205,-5.5695,-2.5881,-1.8179,0.8784,-8.0595,0.7407,0.743169,17.0466,-9.7630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,20151225,0.3376,NaN,0.9539,-0.7600,0.1629,1.5229,4.3927,-0.1616,-2.6661,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.553191,9.7990,-7.3388
1471,20151224,-0.1657,NaN,-1.8394,6.2014,-1.8156,1.2718,-2.4890,1.4283,0.0508,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500000,10.9730,-8.0193
1472,20151223,0.6701,NaN,-2.2186,-2.0228,2.1160,3.3337,-0.9700,-3.9351,-1.8018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.361045,10.2968,-9.6468
1473,20151222,-0.9183,NaN,-2.1671,0.1047,-0.0830,0.9446,-0.2018,-0.6004,1.6294,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.465394,9.7281,-4.1905
1474,20151221,-0.3132,NaN,-1.9690,-0.9896,-1.0162,0.9035,1.1732,-0.2276,2.6826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.290476,7.5172,-10.8006

In [96]:
stock_ab_return.to_csv('data/price/abnormal_return.csv', index=False, encoding='utf_8_sig')

In [121]:
# 累计超额收益率 

def accumulate_abnormal_return(df,abnormal,day):
    
#     date_list = list(df['trade_date'])

    df = df.rename({'max_abr': 'max_acr', 'min_abr': 'min_acr'}, axis=1)
    df['positive'] = 0.0
    df['max_acr'] = 0.0
    df['min_acr'] = 0.0
    
    stock_name = df.columns.values.tolist()
    stock_name = stock_name[1:-3]
    
    for i in range(len(df)):
        
        if((i+day)<=len(df)):
            
            all_stock = 0
            positive_stock = 0
            acr_list = []
        
            for stock in stock_name:
                 
                if(math.isnan(abnormal[stock][i+day-1])==True):
                    acr = math.nan
                    
                else:
                    
                    all_stock = all_stock+1
                    
                    acr = 0
                    for j in range(day):
                        acr = acr+ float(abnormal[stock][i+j])
                    
                    acr_list.append(acr)
                    if(acr>0):
                        positive_stock = positive_stock+1
                        

                df[stock][i] = acr
            
            df['positive'][i] = positive_stock/all_stock
            df['max_acr'][i] = max(acr_list)
            df['min_acr'][i] = min(acr_list)
    
    return df

In [122]:
df = pd.read_csv("data/price/abnormal_return.csv")
abnormal = pd.read_csv("data/price/abnormal_return.csv")

df3 = accumulate_abnormal_return(df,abnormal,3)

In [123]:
df3

,trade_date,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000027.SZ,000039.SZ,000046.SZ,000060.SZ,000061.SZ,...,688126.SH,688169.SH,688363.SH,688396.SH,688561.SH,688599.SH,688981.SH,positive,max_acr,min_acr
0,20220110,0.7237,5.1465,0.6743,2.1934,1.2433,2.2513,4.5779,1.5069,-0.2488,...,0.9231,9.4253,-4.3185,1.9612,-0.9996,-2.6992,0.4895,0.548270,17.7587,-12.5070
1,20220107,5.1820,8.6908,-0.9068,1.4336,0.2297,2.0817,8.0488,1.3550,-0.1818,...,1.5573,12.6758,-6.0721,-1.0315,-1.3667,-4.7980,1.3646,0.564663,20.4064,-12.5546
2,20220106,6.3504,8.9381,4.0036,0.6921,0.7711,1.9798,8.7519,2.5095,5.3181,...,0.8621,4.7369,-5.8890,-2.6330,0.1913,-9.7413,2.1344,0.703097,27.5196,-13.0860
3,20220105,3.0958,11.4441,4.9432,-1.5617,-0.5172,2.6204,4.7797,1.1014,5.3298,...,-1.0917,2.9850,-4.1557,-4.4882,4.6785,-10.3143,1.0667,0.704918,21.8917,-17.8268
4,20220104,-1.2158,4.9955,11.1074,-2.5521,-0.0852,2.1667,1.4260,0.5179,3.8519,...,-0.8422,-1.8727,-4.3268,-1.4566,3.4033,-6.2170,0.0711,0.670310,23.1777,-12.3739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,20151225,0.8420,NaN,-3.1041,3.4186,0.4633,6.1284,0.9337,-2.6684,-4.4171,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.410926,31.0033,-13.2682
1471,20151224,-0.4139,NaN,-6.2251,4.2833,0.2174,5.5501,-3.6608,-3.1072,-0.1216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.427208,30.9464,-8.3521
1472,20151223,-0.5614,NaN,-6.3547,-2.9077,1.0168,5.1818,0.0014,-4.7631,2.5102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.323810,27.3793,-15.5145
1473,20151222,-0.9183,NaN,-2.1671,0.1047,-0.0830,0.9446,-0.2018,-0.6004,1.6294,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0000,0.0000
1474,20151221,-0.3132,NaN,-1.9690,-0.9896,-1.0162,0.9035,1.1732,-0.2276,2.6826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0000,0.0000

In [125]:
df3.to_csv('data/price/accumulate_abreturn_3day.csv', index=False, encoding='utf_8_sig')

In [126]:
df = pd.read_csv("data/price/abnormal_return.csv")
abnormal = pd.read_csv("data/price/abnormal_return.csv")

df5 = accumulate_abnormal_return(df,abnormal,5)
df5.to_csv('data/price/accumulate_abreturn_5day.csv', index=False, encoding='utf_8_sig')