In [1]:
# 汇总已有的情感词典

import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

# 中文情感词典 姜富伟等
# 知网
# NTUSD
# 清华李军
# DLUT
# cheatsheet

In [7]:
positive = pd.read_csv("../已有情感词典/positive_combine.csv")
positive

       word
0      安定\n
1      安康\n
2      帮助\n
3      榜样\n
4      饱满\n
...     ...
27559    幸福
27560    股息
27561    成果
27562    履约
27563    改造

[27564 rows x 1 columns]

In [8]:
from langconv import *

# 将繁体转换成简体
    
def tradition2simple(line):
    
    line = Converter('zh-hans').convert(line)
#     line = line.encode('utf-8')
    
    return line

In [11]:
def remove_dup(df):
    
    word_list = list(df['word'])
    word_list = list(set(word_list))
    df = pd.DataFrame(word_list, columns = ['word'])
    
    return df

In [9]:
for i in range(len(positive)):
    
    positive.word[i] = positive.word[i].replace("\n", "")
    positive.word[i] = tradition2simple(positive.word[i])

In [10]:
positive

      word
0       安定
1       安康
2       帮助
3       榜样
4       饱满
...    ...
27559   幸福
27560   股息
27561   成果
27562   履约
27563   改造

[27564 rows x 1 columns]

In [12]:
positive = remove_dup(positive)
positive

        word
0      有伸缩性
1       否极阳回
2       无所不通
3         易懂
4       雅量豁然
...      ...
20340   生机勃勃
20341   进退有节
20342     手拜
20343   人格高尚
20344     栩栩

[20345 rows x 1 columns]

In [13]:
positive.to_csv("../已有情感词典/positive_combine.csv",index=False, encoding='utf_8_sig')

In [15]:
negative = pd.read_csv("../已有情感词典/negative_combine.csv")
negative

         word
0      败坏名声\n
1      被没收的\n
2        变节\n
3        不便\n
4       不适当\n
...       ...
31383    资产重组
31384      坏账
31385      立案
31386      购回
31387      补偿

[31388 rows x 1 columns]

In [16]:
for i in range(len(negative)):
    
    negative.word[i] = negative.word[i].replace("\n", "")
    negative.word[i] = tradition2simple(negative.word[i])

In [17]:
negative

       word
0      败坏名声
1      被没收的
2        变节
3        不便
4       不适当
...     ...
31383  资产重组
31384    坏账
31385    立案
31386    购回
31387    补偿

[31388 rows x 1 columns]

In [18]:
negative = remove_dup(negative)

In [19]:
negative

       word
0       冒牌货
1        槁
2      狼吃幞头
3       险诈
4        负面
...     ...
22671  狐不二雄
22672  觉得疼痛
22673    弃义
22674  不堪设想
22675    违命

[22676 rows x 1 columns]

In [20]:
negative.to_csv("../已有情感词典/negative_combine.csv",index=False, encoding='utf_8_sig')