In [7]:
import tushare as ts
import pandas as pd

ts.set_token('a22112eaec9f7b9849b83ef016a36fdf44a44d7c014de7da320ea9a4')

pro = ts.pro_api()

In [16]:
# df = pro.daily(ts_code='000001.SZ,600000.SH', start_date='19900701', end_date='20180718')
# df

In [6]:
df = ts.pro_bar(ts_code='000001.SZ', adj='qfq', start_date='20180101', end_date='20181011')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20181011,10.0500,10.1600,9.7000,9.8600,10.4500,-0.5900,-5.6459,1995143.83,1994186.611
1,000001.SZ,20181010,10.5400,10.6600,10.3800,10.4500,10.5600,-0.1100,-1.0417,995200.08,1045666.180
2,000001.SZ,20181009,10.4600,10.7000,10.3900,10.5600,10.4500,0.1100,1.0526,1064084.26,1117946.550
3,000001.SZ,20181008,10.7000,10.7900,10.4500,10.4500,11.0500,-0.6000,-5.4299,1686358.52,1793455.283
4,000001.SZ,20180928,10.7800,11.2700,10.7800,11.0500,10.7400,0.3100,2.8864,2110242.67,2331358.288
...,...,...,...,...,...,...,...,...,...,...,...
182,000001.SZ,20180108,13.0388,13.0782,12.6550,12.7534,13.0880,-0.3346,-2.5565,2158620.81,2806099.169
183,000001.SZ,20180105,12.9994,13.1372,12.9404,13.0880,13.0388,0.0492,0.3773,1210312.72,1603289.517
184,000001.SZ,20180104,13.1077,13.1569,12.9207,13.0388,13.1175,-0.0787,-0.6000,1854509.48,2454543.516
185,000001.SZ,20180103,13.5111,13.6391,12.9896,13.1175,13.4816,-0.3641,-2.7007,2962498.38,4006220.766
186,000001.SZ,20180102,13.1372,13.7080,13.1077,13.4816,13.0880,0.3936,3.0073,2081592.55,2856543.822

In [13]:
timestamp = ['20151230','20160613','20161212','20170612','20171211','20180611','20181217','20190617','20191216','20200615','20201214','20210615','20211213','20220301']
filename = ['2015-12-30','2016-06-13','2016-12-12','2017-06-12','2017-12-11','2018-06-11','2018-12-17','2019-06-17','2019-12-16','2020-06-15','2020-12-14','2021-06-15','2021-12-13']

stock_code_set = []

for i in range(len(filename)):
    
    df_hs300 = pd.read_csv('data/HS300/' + filename[i] + '.csv')
    stock_code = list(df_hs300['成份代码'])
    stock_code_set.extend(stock_code)

stock_code_set = list(set(stock_code_set))

In [14]:
stock_code_set[0:10]

['601991.SH',
 '002601.SZ',
 '300017.SZ',
 '600157.SH',
 '300085.SZ',
 '600867.SH',
 '600682.SH',
 '002271.SZ',
 '300296.SZ',
 '300558.SZ']

In [15]:
len(stock_code_set)

556

In [17]:
stock_code_set = sorted(stock_code_set)
stock_code_set[0:10]

['000001.SZ',
 '000002.SZ',
 '000008.SZ',
 '000009.SZ',
 '000027.SZ',
 '000039.SZ',
 '000046.SZ',
 '000060.SZ',
 '000061.SZ',
 '000063.SZ']

In [24]:
first_code = stock_code_set[0]
df0 = ts.pro_bar(ts_code=first_code, adj='qfq', start_date='20151220', end_date='20220110')
df0 = df0[['trade_date','pct_chg']]
df0 = df0.rename({'pct_chg': first_code}, axis=1)
df0

     trade_date  000001.SZ
0      20220110    -0.0581
1      20220107     0.4673
2      20220106    -0.1749
3      20220105     2.9412
4      20220104     1.0922
...         ...        ...
1470   20151225     0.5674
1471   20151224    -1.1221
1472   20151223     0.4031
1473   20151222    -0.6398
1474   20151221     2.2891

[1475 rows x 2 columns]

In [25]:
for i in range(len(stock_code_set)):
    
    if(i>=1):
    
        code = stock_code_set[i]
        df1 = ts.pro_bar(ts_code=code, adj='qfq', start_date='20151220', end_date='20220110')
        df1 = df1[['trade_date','pct_chg']]
        df1 = df1.rename({'pct_chg': code}, axis=1)
        
        df0 = df0.merge(df1, how='left', on='trade_date')

df0

,trade_date,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000027.SZ,000039.SZ,000046.SZ,000060.SZ,000061.SZ,...,688012.SH,688036.SH,688111.SH,688126.SH,688169.SH,688363.SH,688396.SH,688561.SH,688599.SH,688981.SH
0,20220110,-0.0581,1.2334,-0.3497,0.7902,0.3764,0.1743,-0.9756,0.2024,1.2403,...,-1.6901,-0.6796,10.5089,0.2363,4.9179,1.5058,1.0777,1.1125,-3.8542,0.0946
1,20220107,0.4673,3.9905,-4.0268,-1.6949,0.1256,0.8202,2.5000,0.6110,-1.8265,...,-0.2809,-0.0392,-0.4568,-0.0394,2.4553,-2.6853,-0.1305,-0.5937,-3.0303,0.0568
2,20220106,-0.1749,-0.5668,4.5614,2.6087,0.2519,0.7674,2.5641,0.2041,-0.1520,...,1.7998,-2.9785,-6.5600,0.2368,1.5627,-3.6284,0.5246,-2.0078,3.6959,-0.1513
3,20220105,2.9412,3.3187,-3.3898,-1.4286,-2.0962,-1.4543,1.0363,-1.4085,-0.1517,...,-1.0074,-1.6761,0.7750,-0.5885,6.7094,-1.7068,-3.3740,-0.7136,-7.4120,-0.4893
4,20220104,1.0922,3.6943,0.3401,-2.9799,0.1235,0.1748,2.6596,1.2220,3.1299,...,-5.1264,2.2881,-2.6189,-1.2781,-6.0271,-3.0457,-2.2755,0.4208,-8.5171,0.2831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,20151225,0.5674,NaN,1.1837,-0.5302,0.3927,1.7527,4.6225,0.0682,-2.4363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471,20151224,-1.1221,NaN,-2.7958,5.2450,-2.7720,0.3154,-3.4454,0.4719,-0.9056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1472,20151223,0.4031,NaN,-2.4856,-2.2898,1.8490,3.0667,-1.2370,-4.2021,-2.0688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1473,20151222,-0.6398,NaN,-1.8886,0.3832,0.1955,1.2231,0.0767,-0.3219,1.9079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1474,20151221,2.2891,NaN,0.6333,1.6127,1.5861,3.5058,3.7755,2.3747,5.2849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df0.to_csv('data/price/pct_chg.csv',index=False)